<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Product Page</title>
    <link rel="stylesheet" href="info.css">
</head>
<body>
    <header>
        <h1>Bookly</h1>
    </header>
    <div class="product">
        <img src="https://d2g9wbak88g7ch.cloudfront.net/productimages/images200/704/9789354400704.jpg" alt="Book Cover">
        <div class="product-info">
            <h2>Your Time Will Come</h2>
            <p>Author: Saranya Umakanthan</p>
            <p>Price: ₹119</p>
            <p>ISBN: 9789385986185</p>
            <p>Description:</p>
            <p>Love can break the strongest of men and they are the ones to fall hard. But after the fall, will they be able to bounce back and start afresh? Will they ever realize that true love is supposed to ?build? them and not ?break? them? Siddharth Saxena, a young and dynamic CEO, falls apart when the girl he believes was his, leaves. Depression drives Sid into a web of darkness. His life slips, his business falters, and the world around him shatters. Shanaya enters his life as his wife, unaware of his personal battles. He likes her but does not want to acknowledge the feelings she evokes in him, as he is wary of falling into the trap of love again. But she trusts him and believes that his time will come. He cannot help but be inspired by her positivity which awakens a determination within him. With her by his side, can he rediscover himself and get his life back? Or will he stay broken forever? About the Author A university topper, Saranya Umakanthan is a software engineer by profession and a gadget freak. She is the author of the national bestseller One Day, Life Will Change, which captured the hearts of many readers. Having explored the genre of inspiring romance, she believes that she has found her forte. She has penned Your Time Will Come in the same genre. She hails from Virudhunagar, a small town in Tamil Nadu, and is currently based in Bangalore. With her passion for writing, she wishes to leave an imprint on people?s hearts, weaving beautiful stories with her words. She desires to spread positivity with her novels. A romantic by nature, Saranya loves gazing at the night sky while enjoying a cup of coffee. Nothing brings her more contentment than seeing a reader enjoy her book. She?s also a gadget freak. The fragrance and texture of paperbacks inspire her, and she hangs out in bookstores frequently. She would love to hear your feedback. Email: saranya.umakanthan@gmail.com Instagram: @saranya_umakanthan Facebook: authorsaranyaumakanthan Twitter: chayablossom</p>
            
        </div>
    </div>
    <footer>
        &copy; 2023 Bookstore
    </footer>
</body>
</html>
