<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Product Page</title>
    <link rel="stylesheet" href="info.css">
</head>
<body>
    <header>
        <h1>Bookly</h1>
    </header>
    <div class="product">
        <img src="https://www.bookswagon.com/productimages/images200/477/9788128838477.jpg" alt="Book Cover">
        <div class="product-info">
            <h2>Chhatrapati Shivaji</h2>
            <p>Author: Bhawan Singh Rana (Author) , Bhavan Singh Rana (Author)</p>
            <p>Price: ₹1,013</p>
            <p>ISBN: 123-456-789</p>
            <p>Description:</p>
            <p>Chhatrapati Shivaji is an epoch-maker and his name is known to each and every Indian. He added a new chapter to the Indian history by stablishing an independent Hindu state at the time when the entire country was under the Muslim rule. No Hindu has done such praiseworthy work in the history of India. Though born of poor parentage and deprived of proper education, he established an independent state with his own struggle and strength. Just like a lion is not coronated, he occupied the status with his own power and strength.</p>
            
        </div>
    </div>
    <footer>
        &copy; 2023 Bookstore
    </footer>
</body>
</html>
