<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Product Page</title>
    <link rel="stylesheet" href="info.css">
</head>
<body>
    <header>
        <h1>Bookly</h1>
    </header>
    <div class="product">
        <img src="https://www.bookswagon.com/productimages/images200/781/9781861972781.jpg" alt="Book Cover">
        <div class="product-info">
            <h2>The 48 Laws Of Power</h2>
            <p>Author: Robert Greene</p>
            <p>Price: ₹551</p>
            <p>ISBN:  9781861972781</p>
            <p>Description:</p>
            <p>Drawn from 3,000 years of the history of power, this guide helps readers achieve for themselves what Queen Elizabeth I, Henry Kissinger, Louis XIV and Machiavelli learnt the hard way.</p>
            
        </div>
    </div>
    <footer>
        &copy; 2023 Bookstore
    </footer>
</body>
</html>
