<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Product Page</title>
    <link rel="stylesheet" href="info.css">
</head>
<body>
    <header>
        <h1>Bookly</h1>
    </header>
    <div class="product">
        <img src="https://d2g9wbak88g7ch.cloudfront.net/productimages/images200/233/9789354227233.jpg" alt="Book Cover">
        <div class="product-info">
            <h2>Stargazing</h2>
            <p>Author: Ravi Shastri</p>
            <p>Price: ₹1410</p>
            <p>ISBN: 9789354227233</p>
            <p>Description:</p>
            <p>From being Champion of Champions to one of the world's top cricket commentators to Team India's head coach, Ravi Shastri has an incomparable perspective when it comes to the game of cricket. In Stargazing: The Players in My Life, the legendary all-rounder looks back at the extraordinary talent he has encountered over the years.

                Who is the former Indian captain who didn't do full justice to his talent? Or that bruising bowler who went on to become a best friend? What was the most important lesson the legendary Clive Llyod taught him? How does Shastri set aside his personal bond with Virat Kohli in his role as coach?
                
                Full of never-before-revealed anecdotes, Stargazing, co-written with Ayaz Memon and featuring illustrations by Shiva Rao, offers a glimpse into how champions from across the globe have inspired one of the world's greatest ODI players and Team India's most successful Test cricket coach.</p>
            
        </div>
    </div>
    <footer>
        &copy; 2023 Bookstore
    </footer>
</body>
</html>
