<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Product Page</title>
    <link rel="stylesheet" href="info.css">
</head>
<body>
    <header>
        <h1>Bookly</h1>
    </header>
    <div class="product">
        <img src="https://d2g9wbak88g7ch.cloudfront.net/productimages/images200/254/9788171826254.jpg" alt="Book Cover">
        <div class="product-info">
            <h2>Chanakya Neeti with Chanakya Sutra Sahit - Hindi (चाणक्य नीति - चाणक्य सूत्र सहित)</h2>
            <p>Author: Dr Ashwini Parashar </p>
            <p>Price: ₹1,092</p>
            <p>ISBN: 9788171826254            </p>
            <p>Description:</p>
            <p>सिकंदर ने पंजाब, गांधर आदि राज्यों को जीतकर उन्हें अपने अधीन कर लिया था। वहां यवन सैनिकों के अत्याचारों से लोग त्रास्त थे। चारों तरफ आतंक व्याप्त था। बहू-बेटियों की अस्मिता असुरक्षित थी। यवन पूरे भारत को जीतना चाहते थे। स्थिति बड़ी दयनीय थी। यवनों के राज्य का विस्तार पूरे भारतवर्ष में हो, यह चाणक्य जैसे आत्मसम्मानी देशभक्त के लिए असहनीय था। ऐसे में चाणक्य ने एक ऐसे बालक को शस्त्रा-शास्त्रा की शिक्षा देकर यवनों के सामने खड़ा किया, जो विद्वान तो था ही, साथ ही राजनीति और युद्ध नीति में भी निपुण था। यही बालक चाणक्य के सहयोग से नंदवंश का नाश करके चंद्रगुप्त मौर्य के नाम से मगध् का शासक बना। उसने यवनों को भारत की सरहद के पार कर भारतीय सभ्यता और संस्कृति की रक्षा की तथा देश में एकता व अखंडता की स्थापना की।</p>
            
        </div>
    </div>
    <footer>
        &copy; 2023 Bookstore
    </footer>
</body>
</html>
