<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Product Page</title>
    <link rel="stylesheet" href="info.css">
</head>
<body>
    <header>
        <h1>Bookly</h1>
    </header>
    <div class="product">
        <img src="https://d2g9wbak88g7ch.cloudfront.net/productimages/images200/831/9781847941831.jpg" alt="Book Cover">
        <div class="product-info">
            <h2>Atomic Habits</h2>
            <p>Author:James Clear</p>
            <p>Price: ₹551</p>
            <p>ISBN:  9781847941831</p>
            <p>Description:</p>
            <p>THE PHENOMENAL INTERNATIONAL BESTSELLER - 1 MILLION COPIES SOLDTransform your life with tiny changes in behaviour - starting now. People think that when you want to change your life, you need to think big.</p>
            
        </div>
    </div>
    <footer>
        &copy; 2023 Bookstore
    </footer>
</body>
</html>
