<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Product Page</title>
    <link rel="stylesheet" href="info.css">
</head>
<body>
    <header>
        <h1>Bookly</h1>
    </header>
    <div class="product">
        <img src="https://d2g9wbak88g7ch.cloudfront.net/productimages/images200/219/9788186775219.jpg" alt="Book Cover">
        <div class="product-info">
            <h2>
                RICH DAD POOR DAD</h2>
            <p>Author: Robert Kiyosaki (Author)</p>
            <p>Price: ₹359</p>
            <p>ISBN: 9788186775219</p>
            <p>Description:</p>
            <p>रिच डैड पुअर डैडव्यक्तिगत वित्त-प्रबंधन #1 पुस्तक! - यह मिथक तोड़ती है कि अमीर बनने के लिए ज़्यादा कमाना ज़रूरी है - ख़ासकर ऐसी दुनिया में जहाँ तकनीक, रोबोट और एक वैश्विक अर्थव्यवस्था से नियम बदल रहे हैं - यह सिखाती है कि क्यों भविष्य के लिहाज़ से भारी-भरकम वेतन पाने के बजाय संपत्ति हासिल करना और बनाना ज़रूरी हो सकता है - और वे कौन-से टैक्स के लाभ हैं जो निवेशक तथा बिज़नेस मालिक प्राप्त करते हैं - इस विश्वास को चुनौती देती है कि आपका घर एक संपत्ति है - लाखों लोगों ने इसे पहली बार तब जाना जब हाउसिंग से जुड़ी मान्यताएँ टूट गर्इ और सब-प्राइम मोर्गेज की विफलता से परेशानी होने लगी - हमें बताती है कि पैसे के बारे में हमारे बच्चों को सिखाए जाने के लिए क्यों स्कूल के भरोसे नहीं बैठना चाहिए - और यह महत्त्वपूर्ण जीवन कौशल पहले से कहीं अधिक महत्त्व रखता है - आपको बताती है कि अपने बच्चों को पैसे के बारे में क्या सिखाना चाहिए - ताकि वे आज की दुनिया की चुनौतियों तथा अवसरों के लिए तैयार हो जाएँ और उस समृद्धि को हासिल कर सकें जिसके वे हक़दार हैं "रिच डैड पुअर डैड हर उस व्यक्ति के लिए एक शुरूआत की तरह है जो अपने वित्तीय भविष्य पर नियंत्रण चाहता है" - यू एस ए टुडे पुस्तक अध्ययन रिच डैड फ़िलॉसफ़ी का हिस्सा है पढ़ें, चर्चा करें, अध्ययन करें और दोबारा चर्चा करें। 20वीं वर्षगांठ के इस संस्करण में 9 नए अध्ययन सत्र शामिल हैं, जिनका इस्तेमाल आप अपने मित्रों एवं परिवार के साथ पढ़ते हुए, पुन पढ़ते हुए, चर्चा करते समय और इस पुस्तक का अध्ययन करते समय एक गाइड की तरह कर सकते हैं।</p>
            
        </div>
    </div>
    <footer>
        &copy; 2023 Bookstore
    </footer>
</body>
</html>
