<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Product Page</title>
    <link rel="stylesheet" href="info.css">
</head>
<body>
    <header>
        <h1>Bookly</h1>
    </header>
    <div class="product">
        <img src="https://www.bookswagon.com/productimages/images200/185/9789385986185.jpg" alt="Book Cover">
        <div class="product-info">
            <h2>Bhagavad Gita: Yatharoop</h2>
            <p>Author:A.C. Bhaktivedanta Swami Prabhupada (Author)</p>
            <p>Price: ₹488</p>
            <p>ISBN: 9789385986185</p>
            <p>Description:</p>
            <p>The largest-selling edition of the Gita all over the world, Bhagavad-Gita as It Is, is more than a book. For many it has changed their lives altogether. Universally Bhagavad-Gita is renowned and truly claimed as the crown jewel of India?s spiritual wisdom. Spoken by Lord Krishna the Supreme Personality of Godhead to His intimate disciple Arjuna, the Gita’s seven hundred concise verses provides a definitive guide to the science of self realization. Complete wisdom with original sanskrit texts, word to word meaning, translation and purpot by His divine gracre A.C Bhakti Vedanta Swami Srila Prabhupada, Founder acharya of ISKCON</p>
            
        </div>
    </div>
    <footer>
        &copy; 2023 Bookstore
    </footer>
</body>
</html>
